.service-item {
  position: relative;
  padding: 0;
  grid-column: 1 / -1;
  margin-bottom: 35px;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -5%;
    height: var(--line-width);
    width: 100%;
    background-color: white;
  }

  .title {
    grid-column: 1 / -1;
  }

  .content {
    grid-column: 1 / -2;
    padding-block: 18px;
    align-self: center;
  }

  img {
    grid-column: span 1;
    align-self: center;
    justify-self: center;
    width: 100%;
  }
}

@media only screen and (min-width: $tablet-small) {
  .service-item {
    .title {
      grid-column: 1 / span 4;
      align-self: center;
    }

    .content {
      grid-column: 1 / span 6;
    }

    img {
      height: 70%;
      align-self: center;
      grid-column: -3 / -1;
    }
  }
}

@media only screen and (min-width: $tablet-big) {
  .service-item {
    .title {
      grid-column: 1 / span 3;
      align-self: center;
    }

    .content {
      grid-column: 4 / span 5;
    }

    img {
      grid-column: 9 / span 1;
      height: 70%;
      align-self: center;
    }
  }
}

@media only screen and (min-width: $desktop-small) {
  .service-item {
    .title {
      grid-column: 1 / span 3;
      align-self: center;
    }

    .content {
      grid-column: 4 / span 6;
    }

    img {
      grid-column: 11 / span 2;
      height: 70%;
      align-self: center;
    }
  }
}
