.Button {
  grid-column: 1 / -1;
  justify-self: center;

  button {
    border-radius: 43px;
    border: none;
    padding: clamp(12px, 8.7vw, 14px) 40px;
    background: linear-gradient(92.34deg, #ed4c5c 5.25%, #fab01c 95.46%);

    @media only screen and (min-width: $tablet-small) {
      & {
        padding: clamp(14px, 1.4vw, 18px) clamp(40px, 5vw, 64px);
      }
    }

    @media only screen and (min-width: $desktop-big) {
      & {
        padding-block: clamp(18px, 1.3vw, 20px);
      }
    }
  }

  @media only screen and (min-width: $desktop-big) {
    & {
      grid-column: 2 / -1;
      justify-self: start;
    }
  }
}
