.subscribe-form {
  grid-column: 1/-1;
  padding: 35px var(--padding-horizontal);
  display: flex;
  flex-direction: column;
  background-color: var(--grey-dark);
  gap: 18px;
  align-items: center;
  border-radius: 27px;

  @media only screen and (min-width: $desktop-small) {
    & {
      grid-column: 3 / -3;
      gap: 24px;
    }
  }

  .field ~ .field input {
    margin-bottom: 20px;
  }

  .field {
    width: 100%;

    label {
      font-size: 14px;
      color: white;
      font-family: "josefin sans", sans-serif;
    }

    input {
      margin-top: 10px;
      border-radius: 8px;
      border: none;
      padding: 12px;
      min-width: 100%;
    }
  }
}
