.hero {
  padding: 44px var(--padding-horizontal);
  position: relative;

  .title {
    grid-column: 1 / -1;
    margin-bottom: 10px;

    @media only screen and (min-width: $tablet-big) {
      & {
        margin-left: clamp(0rem, -16.97rem + 35.35vw, 11.3rem);
        grid-column: 2 / -1;
      }
    }

    @media only screen and (min-width: $desktop-small) {
      & {
        margin-top: 40px;
        margin-left: 0;
        grid-column: 1 / span 7;
        align-self: center;
      }
    }
  }

  .subtitle {
    grid-column: 1 / -1;

    @media only screen and (min-width: $tablet-big) {
      & {
        margin-left: clamp(0rem, -16.97rem + 35.35vw, 11.3rem);
        grid-column: 2 / -1;
      }
    }

    @media only screen and (min-width: $desktop-small) {
      & {
        margin: 0;
        margin-bottom: 80px;
        grid-column: 1 / span 6;
      }
    }
  }

  .hero-image {
    width: 100%;
    grid-column: 1 / -1;
    margin-top: 36px;
    margin-bottom: 19px;
    justify-self: center;

    @media only screen and (min-width: $tablet-small) {
      & {
        width: clamp(324px, 32.55vw, 500px);
        grid-column: 1 / -1;
      }
    }

    @media only screen and (min-width: $desktop-small) {
      & {
        grid-column: 8 / span 6;
        grid-row: 1 / span 3;
        align-self: center;
        margin: 0;
      }
    }
  }

  .contact-box {
    grid-column: 1 / -1;
    position: relative;

    .no-commitment {
      padding-inline: var(--padding-inline-display);
      grid-column: 1 / -1;
      text-align: center;
    }

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: " ";
      width: var(--line-width);
      height: 100%;
      background-color: var(--grey-medium);
    }

    @media only screen and (min-width: $desktop-small) {
      & {
        grid-column: 1 / span 5;
        justify-content: flex-start;
      }
    }

    .no-commitment {
      margin-top: 18px;

      @media only screen and (min-width: $desktop-small) {
        & {
          grid-column: 2 /-1;
          text-align: left;
          margin-bottom: 56px;
        }
      }
    }
  }

  .section-quote {
    text-align: center;
    grid-column: 1 / -1;

    .border {
      width: 100%;
      grid-column: 1 / -1;
      height: 52px;
    }

    .left {
      border-top: var(--line-width) solid var(--grey-medium);
      border-left: var(--line-width) solid var(--grey-medium);
    }
    .right {
      border-bottom: var(--line-width) solid var(--grey-medium);
      border-right: var(--line-width) solid var(--grey-medium);
    }

    .quote {
      quotes: none;
      color: black;
      display: flex;
      justify-content: center;
      padding-inline: var(padding-inline-display);
      @media only screen and (min-width: $tablet-big) {
        & {
          padding-inline: clamp(120px, 9.7vw, 150px);
        }
      }

      @media only screen and (min-width: $desktop-small) {
        & {
          padding-inline: clamp(150px, 21.2vw, 407px);
        }
      }
    }
  }
}
