:root {
  --padding-horizontal: 19px;
}

@media only screen and (min-width: $mobile-medium) {
  :root {
    --padding-horizontal: clamp(19px, 5.41vw, 32.5px);
  }
}

@media only screen and (min-width: $desktop-big) {
  :root {
    --padding-horizontal: clamp(32.5px, 11.88vw, 152px);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 8px;

  @media only screen and (min-width: $tablet-small) {
    & {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  @media only screen and (min-width: $desktop-big) {
    & {
      grid-template-columns: repeat(12, 1fr);
    }
  }
}

.full-span {
  grid-column: 1 / -1;
}

.align-center {
  align-self: center;
}

.Home {
  @media only screen and (min-width: $mobile-medium) {
    & {
      padding: clamp(1.125rem, 0.35rem + 3.43vw, 2rem) 0 0;
    }
  }

  .services {
    padding-inline: var(--padding-horizontal);
    padding-top: 34px;
    background-color: var(--grey-dark);
  }

  .section-contact {
    padding: 40px 0;
    margin: 0 var(--padding-horizontal);
    position: relative;
    margin-bottom: 38px;

    @include horizontal-right-lines;

    img {
      grid-column: 1 / -1;
      justify-self: center;
    }

    .section-content {
      margin: 30px 0 14px 0;
      grid-column: 1 / -1;
    }

    .button {
      grid-column: 1 /-1;
      justify-self: center;
    }
  }

  .section-subscribe > * {
    color: var(--grey-dark);
    grid-column: 1 / -1;
    margin-bottom: 51px;
    text-align: center;
  }

  .go-top {
    height: 150px;
    position: relative;

    a {
      grid-column: -3 / span 2;
      grid-row: 1 / span 1;
      justify-self: center;
      justify-content: center;
      align-self: center;

      @include horizontal-lines;

      img {
        margin: 0 auto;
        display: flex;
      }
    }
  }
}
