@mixin horizontal-right-lines {
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: var(--padding-horizontal);
    bottom: -20%;
    width: var(--line-width);
    background-color: var(--grey-medium);
    height: 100%;
  }

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: var(--padding-horizontal);
    bottom: 0;
    height: var(--line-width);
    background-color: var(--grey-medium);
    width: calc(100% - (2 * var(--padding-horizontal)));
  }
}

@mixin horizontal-left-lines {
  &::after {
    content: "";
    position: absolute;
    grid-column: 1 / -1;
    top: 42.5%;
    height: var(--line-width);
    width: 15.5%;
    background-color: var(--grey-dark);
  }

  &::before {
    grid-column: 1 / 4;
    position: absolute;
    content: "";
    top: 42.5%;
    height: var(--line-width);
    width: 67.5vw;
    width: calc(100% - (57px / 2) + 4px + 1px);
    background-color: var(--grey-dark);
  }
}

@mixin horizontal-lines {
  &::after {
    grid-column: -2 / -1;
    content: "";
    position: absolute;
    right: 0;
    top: 48%;
    height: var(--line-width);
    width: calc(100% - 28.5px + 5px);
    background-color: var(--grey-dark);
  }

  &::before {
    grid-column: 1 / -2;
    content: "";
    position: absolute;
    left: 0;
    top: 48%;
    height: var(--line-width);
    width: calc(100% - 28.5px + 6px);
    background-color: var(--grey-dark);
  }
}
