@mixin horizontal-right-lines {
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: var(--padding-horizontal);
    bottom: -20%;
    width: var(--line-width);
    background-color: var(--grey-medium);
    height: 100%;
  }

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: var(--padding-horizontal);
    bottom: 0;
    height: var(--line-width);
    background-color: var(--grey-medium);
    width: calc(100% - (2 * var(--padding-horizontal)));
  }
}

@mixin horizontal-left-lines {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--padding-horizontal);
    width: var(--line-width);
    height: 100%;
    background-color: var(--grey-dark);
  }

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: var(--padding-horizontal);
    height: var(--line-width);
    width: calc(100% - (2 * var(--padding-horizontal)));
    background-color: var(--grey-dark);
  }
}

@mixin horizontal-lines {
  &::after {
    grid-column: -2 / -1;
    content: "";
    position: absolute;
    right: 0;
    top: 49.5%;
    height: var(--line-width);
    width: calc(100% - 28.5px + 5px);
    background-color: var(--grey-dark);
  }

  &::before {
    grid-column: 1 / -2;
    content: "";
    position: absolute;
    left: 0;
    top: 49.5%;
    height: var(--line-width);
    width: calc(100% - 28.5px + 6px);
    background-color: var(--grey-dark);
  }

  @media only screen and (min-width: $tablet-small) {
    &::after {
      width: calc(100% - 28.5px + 11px);
    }

    &::before {
      width: calc(100% - 28.5px + 12px);
    }
  }

  @media only screen and (min-width: $desktop-big) {
    &::after {
      grid-column: -4 / -1;
      width: calc(50% - 66.5px);
    }

    &::before {
      grid-column: 1/ 12;
      width: calc(96.15% - 64px);
    }
  }
}

@mixin section-left-lines {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--line-width);
    height: 100%;
    background-color: white;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: var(--line-width);
    width: 30%;
    background-color: white;
  }
}
