// lAYOUT

.Home {
  background-color: var(--pink-light);
}

//TYPOGRAPHY

.title-display {
  color: green;
}

.section-contact {
  color: white;
}

.section-content {
  color: black;
}

p {
  color: green;
}
