// lAYOUT

.Home {
  background-color: var(--pink-light);
}

//TYPOGRAPHY

.title-display {
  color: white;
}

.section-contact {
  color: white;
}

.section-content {
  color: black;
}

p {
  color: white;
}

// DECORATIONS

:root {
  --line-width: 2px;
}

@media only screen and (min-width: $desktop-big) {
  :root {
    --line-width: 4px;
  }
}
