:root {
  //COLORS
  --grey-medium: #615f5f;
  --grey-dark: #3e4347;
  --pink-light: #fefbf0;
  --color-white: white;
  --color-black: black;
}

// DECORATIONS

:root {
  --line-width: 2px;
}

@media only screen and (min-width: $desktop-small) {
  :root {
    --line-width: 4px;
  }
}
