@import "./variables";
@import "./layout";
@import "./typography";
@import "./theme";

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

// typography styles

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 14px;
}
