.header {
  display: flex;
  align-items: baseline;
  // justify-content: center;
  position: relative;

  // &::before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   left: 0;
  //   top: -20px;
  //   background-color: transparent;
  //   width: 100vw;
  //   height: 120vh;
  //   z-index: 100;
  // }

  .logo {
    z-index: 1000;
    width: clamp(130px, 20.75vw, 200px);
    padding: 8px 9px 0px 8px;
    grid-column: 1 / 1;
    margin-inline: auto;

    img {
      width: 100%;
      height: 100%;
    }

    @media only screen and (min-width: $tablet-big) {
      & {
        margin-left: 1.5vw;
        width: clamp(200px, 22.17vw, 250px);
      }
    }
  }

  .navbar {
    display: none;
    grid-column: 1 / span 4;
    justify-self: center;

    ul {
      gap: 12px;
      justify-content: space-between;
      align-items: center;
    }

    @media only screen and (min-width: $tablet-small) {
      & {
        align-self: center;
        grid-column: 2 / -1;
        justify-self: end;
      }
    }

    @media only screen and (min-width: $desktop-small) {
      & {
        // display: flex;
        margin-left: 0;
        grid-row: 1 / span 1;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end;
      }
    }
  }
}
