footer {
  padding: 16px var(--padding-horizontal);
  background-color: var(--grey-dark);

  ul {
    display: flex;
    justify-content: space-between;

    @media only screen and (min-width: $desktop-big) {
      & {
        margin: 0 auto;
        width: 965px;
      }
    }

    li {
      display: flex;
      align-items: center;
      p {
        font-size: clamp(0.625rem, 0.197rem + 2.14vw, 2.25rem);
      }

      img {
        margin-right: 9px;
        height: 70%;
      }
    }
  }
}
