footer {
  padding: 16px var(--padding-horizontal);
  background-color: var(--grey-dark);

  ul {
    display: flex;
    justify-content: space-between;

    @media only screen and (min-width: $desktop-small) {
      & {
        margin: 0 auto;
        width: 600px;
      }
    }

    li {
      display: flex;
      align-items: center;

      img {
        margin-right: 9px;
        height: 70%;
      }
    }
  }
}
